doctype html
html(lang="en")
    head
        title= LDD - Lazarini Driven Development
        link(rel="stylesheet", href="/main.min.css")
        // script(type='text/javascript').
            // We are not using client side rendering
            // console.log('no locals from pug (./data.json)')
    body
        h1 LDD - Lazarini Driven Development
        #container.col
            a(href="https://imgflip.com/i/1jzqiv")
                img(src="https://i.imgflip.com/1jzqiv.jpg", title="LDD - Lazarini Driven Development")
    script(type='text/javascript', src="/index.js")
